body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-segoe-ui: "Segoe UI";
  --font-roboto: Roboto;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-smi: 13px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.2);
  --color-darkslateblue: #0d264f;
  --color-darkblue: #2216a7;

  /* Gaps */
  --gap-61xl: 80px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-11xl: 30px;

  /* border radiuses */
  --br-xl: 20px;
  --br-5xs: 8px;
}


.untitled-1-icon {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1227px;
  height: 514px;
  object-fit: cover;
}
.baymax-care,
.medicine-a-z {
  position: absolute;
  top: 50px;
  left: 139px;
  letter-spacing: 0.46px;
  line-height: 26px;
}
.medicine-a-z {
  text-decoration: none;
  left: 794px;
  font-size: 18px;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}
.baymax-2-icon {
  position: absolute;
  top: 25px;
  left: 47px;
  width: 75px;
  height: 76px;
  object-fit: cover;
}
.at-baymax-we {
  font-size: medium;
  margin: 0;
}
.at-baymax-we-container1 {
  line-break: anywhere;
  width: 100%;
}
.at-baymax-we-container {
  position: absolute;
  top: 126px;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 564px;
}
.your-health-is {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.span {
  font-size: var(--font-size-29xl);
}
.your-health-is-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-size: var(--font-size-21xl);
}
.at-baymax-we-take-the-guesswo-parent {
  position: absolute;
  top: 275px;
  left: 38px;
  width: 679px;
  height: 178px;
}
.search-section-child,
.search-section-item {
  color: white;
  font-size:small;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslateblue);
  position: absolute;
  top: 48px;
  left: 1011px;
  border-radius: var(--br-5xs);
  width: 85px;
  height: 30px;
}
.search-section-child:hover,
.search-section-item:hover {
  background-color: var(--color-darkblue);
}
.search-section-item {
  left: 1104px;
}
.main,
.search-section {
  align-self: stretch;
  flex-shrink: 0;
}
.search-section {
  position: relative;
  height: 740px;
}
.main {
  background-color: #e0f2fe;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkslateblue);
}
.vector-icon {
  position: absolute;
  top: 0;
  left: 137px;
  width: 60px;
  height: 49.19px;
}
.online-emergency {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.provides-immediate-medical {
  margin: 0;
  font-weight: 300;
}
.online-emergency-provides-container {
  position: absolute;
  top: 71.56px;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 334px;
  height: 89.44px;
}
.vector-parent {
  position: absolute;
  margin: 0 !important;
  top: 312px;
  left: 54px;
  width: 334px;
  height: 161px;
  flex-shrink: 0;
  z-index: 0;
}
.medication-service-responsible-container {
  position: absolute;
  top: 73.33px;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 375px;
  height: 91.67px;
}
.vector-icon1 {
  position: absolute;
  top: 0;
  left: 158px;
  width: 48px;
  height: 50.42px;
}
.medication-service-responsible-parent {
  position: absolute;
  margin: 0 !important;
  top: 306px;
  left: 829px;
  width: 375px;
  height: 165px;
  flex-shrink: 0;
  z-index: 1;
}
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 149.61px;
  width: 51px;
  height: 48.4px;
}
.hr-health-program-container {
  position: absolute;
  top: 70.4px;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 359px;
  height: 116.6px;
}
.vector-group {
  position: absolute;
  margin: 0 !important;
  top: 312px;
  left: 429px;
  width: 359px;
  height: 187px;
  flex-shrink: 0;
  z-index: 2;
}
.our-service1 {
  font-weight: 300;
}
.our-service {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-base);
}
.we-offer-special-service {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.appointment,
.our-service-we-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.our-service-we-container {
  position: absolute;
  margin: 0 !important;
  top: 59px;
  left: 384px;
  letter-spacing: 0.46px;
  line-height: 26px;
  width: 511px;
  height: 179px;
  z-index: 3;
  font-size: var(--font-size-smi);
}
.appointment {
  background-color: var(--color-white);
  width: 100%;
  height: 656px;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-61xl);
  max-width: 1280px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.appointment-child,
.gx65yga-1-icon {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.gx65yga-1-icon {
  top: 113px;
  left: 43px;
  width: 492px;
  height: 503px;
  object-fit: cover;
  z-index: 0;
}
.appointment-child {
  top: 147px;
  left: 529px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 700px;
  height: 92px;
  z-index: 1;
}
.appointment-inner,
.appointment-item {
  border: 0;
  top: 171px;
  border-radius: var(--br-5xs);
  height: 30px;
  flex-shrink: 0;
}
.appointment-item {
  background-color: #fbeded;
  position: absolute;
  margin: 0 !important;
  left: 556px;
  width: 506px;
  z-index: 2;
  
  padding-left: 10px;
}
.appointment-inner {
  color: white;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  background-color: var(--color-darkslateblue);
  left: 1090px;
  width: 95px;
  z-index: 3;
}
.appointment-inner,
.medicine-search,
.rectangle-div {
  position: absolute;
  margin: 0 !important;
}
.rectangle-div {
  top: 260px;
  left: 529px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 700px;
  height: 424px;
  flex-shrink: 0;
  z-index: 4;
}
.medicine-search {
  top: 80px;
  left: 690px;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: inline-block;
  z-index: 5;
}
.appointment1 {
  background-color: var(--color-white);
  width: 100%;
  height: 740px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-61xl);
  max-width: 1280px;
}
.icon,
.medicine-child {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.medicine-child {
  top: 122px;
  left: -75px;
  border-radius: 50px;
  background-color: rgba(217, 217, 217, 0.6);
  width: 533px;
  height: 496px;
  z-index: 0;
}
.icon {
  top: 190px;
  left: 51px;
  width: 367px;
  height: 360px;
  object-fit: cover;
  z-index: 1;
}
.find-the-right {
  margin-block-start: 0;
  margin-block-end: 36px;
}
.find-the-right-container {
  position: absolute;
  top: 41px;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 688px;
  height: 114px;
}
.health-and-wellness {
  
  margin-bottom: 0;
}
.health-and-wellness-management {
  font-size: medium;
  margin: 0;
  padding-left: 21px;
}
.about,
.baymax-is-an-container {
  position: absolute;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 300;
}
.baymax-is-an-container {
  top: 177px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: flex;
  align-items: center;
  width: 688px;
}
.about {
  top: 0;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}
.find-the-right-doctor-right-at-parent {
  position: absolute;
  margin: 0 !important;
  top: 149px;
  left: 518px;
  width: 688px;
  height: 437px;
  flex-shrink: 0;
  z-index: 2;
}
.medicine {
  background-color: var(--color-white);
  width: 100%;
  height: 740px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-61xl);
  max-width: 1280px;
  font-family: var(--font-roboto);
}
.baymaxcare,
.contact-us {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
}
.baymaxcare {
  top: 28px;
  left: 103px;
  font-size: 12px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 327px;
  width: 290px;
  height: 41px;
}
.copyright-by-baymax {
  position: absolute;
  top: 56px;
  left: 327px;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
}
.contact-us-parent {
  position: absolute;
  margin: 0 !important;
  top: 68px;
  left: 66px;
  width: 617px;
  height: 82px;
  flex-shrink: 0;
  z-index: 0;
}
.footer-section,
.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-section {
  align-self: stretch;
  background: linear-gradient(-89.98deg, #00bbdf, rgba(0, 187, 223, 0));
  height: 225.76px;
  flex-shrink: 0;
  align-items: flex-start;
  font-size: 36px;
}
.landing-page {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
.landing-page:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 960px) {
  .appointment,
  .appointment1,
  .medicine {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .landing-page {
    width: 100%;
  }
  .landing-page:hover {
    background-color: #f99a0e;
  }
}
