body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-segoe-ui: "Segoe UI";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-slateblue: #4b56d2;
  --color-darkslateblue: #0d264f;
  --color-gray: rgba(0, 0, 0, 0.2);
  --color-whitesmoke: #e8e9eb;

  /* Gaps */
  --gap-61xl: 80px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-11xl: 30px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-3xs: 10px;
}


*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon {
  position: absolute;
  top: 101px;
  left: 562px;
  width: 705px;
  height: 483px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  height: 36.41%;
  width: 23.06%;
  top: 45.09%;
  right: 72.15%;
  bottom: 18.5%;
  left: 4.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.they-say-laughter {
  margin: 0;
}
.they-say-laughter-container {
  position: absolute;
  top: 109px;
  left: 7px;
  letter-spacing: 0.46px;
  line-height: 26px;
}
.healthy-living-is {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.healthy-living-is-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.46px;
  line-height: 26px;
  color: var(--color-slateblue);
}
.they-say-laughter-is-the-best-parent {
  position: absolute;
  top: 272px;
  left: 69px;
  width: 585px;
  height: 187px;
  font-size: 14px;
  color: var(--color-black);
}
.baymax-care {
  position: absolute;
  top: 63px;
  left: 139px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.46px;
  line-height: 26px;
}
.appointments,
.create-prescription,
.feedbacks,
.medicine-a-z {
  text-decoration: none;
  position: absolute;
  top: 63px;
  left: 430px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}
.create-prescription,
.feedbacks,
.medicine-a-z {
  left: 586px;
}
.feedbacks,
.medicine-a-z {
  left: 784px;
}
.feedbacks {
  left: 933px;
}
.baymax-2-icon {
  position: absolute;
  top: 38px;
  left: 47px;
  width: 75px;
  height: 76px;
  object-fit: cover;
}
.vector-icon1 {
  position: absolute;
  height: 5.81%;
  width: 3.36%;
  top: 7.43%;
  right: 6.56%;
  bottom: 86.76%;
  left: 90.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.welcome-doctor {
  position: absolute;
  top: 172px;
  left: 69px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.46px;
  line-height: 26px;
  color: var(--color-slateblue);
}
.main,
.search-section {
  align-self: stretch;
  flex-shrink: 0;
}
.search-section {
  position: relative;
  height: 740px;
}
.main {
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.copy-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 46px;
  left: 10px;
  width: 644px;
  height: 565px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.appointment-child {
  top: 154px;
  left: 650px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 594px;
  height: 537px;
  flex-shrink: 0;
  z-index: 1;
}
.appointment-child,
.appointment-item,
.appointments1 {
  position: absolute;
  margin: 0 !important;
}
.appointments1 {
  top: 66px;
  left: 783px;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.appointment-item {
  top: 154px;
  left: 650px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: #d9d9d9;
  width: 594px;
  height: 46px;
  flex-shrink: 0;
  z-index: 3;
}
.appointment,
.available-appointments {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.available-appointments {
  position: absolute;
  margin: 0 !important;
  top: 149px;
  left: 670px;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  color: var(--color-black);
  width: 219px;
  height: 57px;
  z-index: 4;
}
.appointment {
  background-color: #5780ac;
  width: 100%;
  height: 740px;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-61xl);
  max-width: 1280px;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  
}
.experience-the-freedom,
.medicine-search {
  position: absolute;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
  align-items: center;
  height: 64px;
}
.medicine-search {
  top: 0;
  width: 454px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.experience-the-freedom {
  top: 81px;
  font-size: var(--font-size-xl);
  width: 489px;
}
.medicine-search-parent,
.removal-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 161px;
  left: 106px;
  width: 489px;
  height: 145px;
  flex-shrink: 0;
  z-index: 0;
}
.removal-1-icon {
  top: 22px;
  left: 505px;
  width: 800px;
  height: 703px;
  object-fit: cover;
  z-index: 1;
}
.form-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 590px;
  height: 108px;
}
.form-inner,
.form-item {
  border: 0;
  position: absolute;
  top: 19px;
  border-radius: var(--br-5xs);
  height: 30px;
}
.form-item {
  color: white;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  background-color: var(--color-darkslateblue);
  left: 469px;
  width: 95px;
}
.form-inner {
  padding: 1px;
  padding-left: 10px;
  background-color: #fbeded;
  left: 20px;
  width: 421px;
}
.form {
  position: absolute;
  margin: 0 !important;
  top: 381px;
  left: 106px;
  width: 590px;
  height: 108px;
  flex-shrink: 0;
  z-index: 2;
}
.medicine {
  background-color: #6da6dd;
  width: 100%;
  height: 740px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-61xl);
  max-width: 1280px;
  font-size: 58px;
  color: var(--color-whitesmoke);
}
.feedbacks2,
.icon1 {
  position: absolute;
  margin: 0 !important;
}
.icon1 {
  top: 209px;
  left: 47px;
  width: 541px;
  height: 363px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.feedbacks2 {
  top: 112px;
  left: 192px;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: inline-block;
  z-index: 1;
}
.feedbacks1,
.union-icon {
  flex-shrink: 0;
  position: relative;
}
.union-icon {
  margin: 0 !important;
  width: 639.87px;
  height: 584.4px;
  z-index: 2;
  left: 300px;
  top: 90px;
}
.feedbacks1 {
  background-color: var(--color-white);
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 1280px;
  font-size: 64px;
  color: var(--color-slateblue);
}
.paper-plane-blue-horizontal-ba-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 126px;
  width: 1154px;
  height: 286px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.baymaxcare,
.contact-us {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.46px;
  line-height: 26px;
}
.baymaxcare {
  top: 28px;
  left: 103px;
  font-size: 12px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 327px;
  width: 290px;
  height: 41px;
}
.copyright-by-baymax {
  position: absolute;
  top: 56px;
  left: 327px;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
}
.contact-us-parent {
  position: absolute;
  margin: 0 !important;
  top: 68px;
  left: 66px;
  width: 617px;
  height: 82px;
  flex-shrink: 0;
  z-index: 1;
}
.doctorpage,
.footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-section {
  align-self: stretch;
  background: linear-gradient(-89.98deg, #00bbdf, rgba(0, 187, 223, 0));
  height: 225.76px;
  flex-shrink: 0;
  align-items: flex-start;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.doctorpage {
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue);
  font-family: var(--font-segoe-ui);
}
.doctorpage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 960px) {
  .appointment,
  .feedbacks1,
  .medicine {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .doctorpage {
    width: 100%;
  }
  .doctorpage:hover {
    background-color: #f99a0e;
  }
}
